<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<div >
    <a href="{% url 'book:download' %}"><button class="button">Download CSV</button></a>
</div>
</body>
</html>